@import "antd/dist/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

.__initial {
  height: 100vh;
  img {
    width: 30px;
  }
  span {
    margin-top: 10px;
  }
}
